body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav > ul > li {
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

nav > header {
  font-size: 30px;
  font-weight: 1000;
  margin-left: 20px;
  padding: 10px;
}

nav > header:hover {
  transform: scale(1.2);
}

nav > ul > li:hover {
  background-color: grey;
  color: white;
}

.first-container img {
  width: 100vw;
  height: 700px;
}

.separator img {
  width: 99vw;
  height: 200px;
}

.second-container img {
  width: 100vw;
  height: 800px;
}
