body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

header {
  padding-top: 50px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
}

.column {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.column > img {
  width: 100%;
  margin-top: 5px;
}

footer {
  padding: 40px 0 0 0;
  position: relative;
  bottom: 0;
  color: white;
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: auto auto auto !important;
  }
}

@media screen and (max-width: 500px) {
  .row {
    grid-template-columns: auto auto !important;
  }
}

@media screen and (max-width: 400px) {
  .row {
    grid-template-columns: auto !important;
  }
}
