body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: rgb(223, 236, 241) !important;
}

.collapse {
  display: grid;
  justify-content: space-between;
}
.nav-item {
  border-right: 1px solid grey !important;
  font-size: 0.8rem;
  padding: 0 2vw;
}
.nav-item > a:hover {
  color: white;
  transform: scale(1.03);
}
.navbar-nav:nth-child(1) > li:nth-child(4),
.navbar-nav:nth-child(2) > li:nth-child(3) {
  border: none !important;
}
.fa-shopping-cart {
  margin: 0 5px;
}

/*  */
.carousel > p {
  position: absolute;
  top: 8px;
  left: 16px;
}

.navigation {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.navigation > ul {
  width: 90%;
  margin: auto;
}

.banner-row {
  width: 90%;
}

.ban {
  max-width: 100%;
  margin: 10px;
}

.ban > img {
  width: 100%;
}

.product-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
}

.product-container > .item {
  width: 100%;
  height: 100px;
  background-color: cadetblue;
}

.products > img {
  width: 100%;
  height: auto;
}

.product1 {
  grid-row: 1 / span 2;
}

.product4 {
  grid-column: 2 / span 2;
}

.product1,
.product2,
.product3,
.product4 {
  max-width: 100%;
}

.product1:hover,
.product2:hover,
.product3:hover,
.product4:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
}

.product1 > img,
.product2 > img,
.product4 > img,
.product3 > img {
  width: 100% !important;
  height: 100% !important;
}

.tab-headers > ul > li > a:hover {
  color: orangered !important;
  border-bottom: 1px solid red !important;
}

.tab-headers {
  width: 60%;
  margin: auto;
}

.acc {
  background-color: white;
  text-align: center;
}

.acc > img {
  width: 200px;
  height: 200px;
}

.acc-container {
  width: 80%;
  margin: 50px auto !important;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.acc:hover,
.acc1:hover {
  transform: scale(1.005);
  box-shadow: rgba(0, 0, 0, 0.25) 8px 0px 8px;
}

.acc1 {
  grid-row: 1 / -1;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .acc-container {
    width: 95%;
    margin: 50px auto !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
}

@media screen and (max-width: 992px) {
  .nav-item {
    border: none !important;
    padding: 2vh 0;
  }

  .fa-shopping-cart {
    margin: 0 5px 0 0px;
  }

  .navigation > ul {
    width: 90% !important;
    font-size: 0.7rem !important;
  }

  .acc-container {
    width: 80%;
    margin: 50px auto !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
  }
}

@media screen and (max-width: 768px) {
  .navigation > ul {
    width: 96% !important;
    margin: 0px;
  }

  .navigation > ul li > img {
    width: 2rem !important;
  }

  .star-products > .header {
    align-items: center !important;
  }

  .star-products > .header > h2 {
    font-size: 0.9rem !important;
  }

  .acc-container {
    width: 80%;
    margin: 50px auto !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }

  .tab-headers {
    width: 90% !important;
  }
}

@media screen and (max-width: 550px) {
  .carousel-item {
    height: 40vh;
  }

  .carousel-item > img {
    height: 100% !important;
  }

  .navigation {
    display: none !important;
  }

  .banner-row {
    flex-direction: column !important;
  }

  .product1,
  .product4 {
    grid-column: 1 / -1 !important;
  }

  .product1,
  .product4 {
    grid-column: 1, 2;
  }

  .product-container {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
  }

  .acc-container {
    width: 95%;
    margin: 50px auto !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }

  .acc1 {
    grid-row: 1/1 !important;
    justify-content: center !important;
  }

  .acc1 > img {
    width: 100% !important;
    height: 300px !important;
  }

  .tab-headers {
    font-size: 0.7rem !important;
  }
}

@media screen and (max-width: 400px) {
  .acc-container {
    width: 75%;
    margin: 50px auto !important;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }

  .acc {
    padding: 10px;
  }
}
